:root {
    --primary-color: grey;
    /* tea rose (red) */
    --secondary-color: #885a5a;
    /* rose taupe */
    --accent1--color: #f7c1bb;
    /* charcoal */
    --accent2-color: #353a47;
    /*dogwood rose */
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font: "Lato", sans-serif;
}
 
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}
 
.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;    height: auto;
}
 
h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}
 
.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
}
 
.navigation li {
    flex: 1 1 auto;
}
 
.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}
 
.navigation a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}
 
body {
    font-family: Acme, Arial, sans-serfi;
}
 
article {
    margin: 1em auto;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1em;
    background-color: #ace;
    width: min(600px, 100%);
    font-size: 1.2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--secondary-color);
}

main {
    width: auto;
    margin: auto;
}
 
a {
    text-decoration: none;
}
 
h1 {
    font-size: 2rem;
}
 
nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
    font-family: var(--heading-font);
}
 
nav a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
 
nav a:hover {
    text-decoration: underline;
    color: var(--accent2-color);
    background-color: var(--accent1--color);
}
 
 
.hero {
    position: relative;
}
 
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
 
 
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
 
article {
 
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1em;
    background-color: rgba(170, 204, 238, 0.451);
    font-size: 1.2rem;
    position: absolute;
    top: 140px;
    left: 50px;
    right: 50px
}
 
.hero article img {
    float: right;
    margin: 40px;
    width: 125px;
    border: solid 1px rgba(11, 55, 150, 1);
    box-shadow: 0 0 30px rgb(28, 132, 217);
}
 
.history {
    background-color: white;
    color: #353a47;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.history h2 {
    color: #222;
    text-align: center;
    font-size: 40px;
}
.history-grid {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
 
.history h2, .adventures h2 {
     width: 100%;
     text-align: center;
     font-size: 40px;
}
 
.history-text {
    width: 50%;
    font-size: 30px;
    grid-column: 1;
    grid-row: 1;
    margin-left: 200px;
    text-align: center;
}
.history-image {
    width: 500px;
    height: auto;
    grid-column: 2;
    grid-row: 1;
    margin-right: 200px;
}

.adventures {
    background-color: grey;
    color: #353a47;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.adventures h2 {
    color: white;
}
figure {
    display: block;
    margin: 20px;
    text-align: center;
    width: 300px;
    height: auto;
    margin-left: 700px;
}

figure img {
    width: 400px;
    height: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

footer {
    margin: 0;
    text-align: center;
}

.social img {
    width: 30px;
    height: auto;
    justify-content: center;
}
.socialmedia a img {
    width: 10px;
    text-decoration: none;
}    