
/* Rafting Site CSS */
:root {
  --primary-color: #161616;
  --secondary-color: #CCFF66;
  --accent1-color: #630fe9;
  --accent2-color: #2EC4B6;
  --heading-font: 'Montserrat', sans-serif;
  --body-font: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: grey;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 20px;
    width: 80px;
    text-align: center;
}
.logo img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.hero {
    text-align: center;
    padding: 40px;
    background-color: #f3f3f3;
}

h1 {
    font-size: 40px;
}

h2 {
  text-align: center;
}

.hero-img {
    width: 100%;
    justify-content: center;
}

.hero p {
    background-color: grey;
    width: 100%;
    font-size: 30px;
    color: white;
}
.sub-img {
    width: 200px;
    height: auto;
}
.history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    background-color: #eee;
}

.history-text {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    font-size: 30px;
}

.history-img {
    color: white;
    flex: 1;
    width: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.history-img img {
    border-radius: 50px;
    border-color: solid black;
    border-width: 10px;
    width: 400px;
    height: auto;
}
.gallery {
    text-align: center;
    padding: 40px;
    background-color: #f9f9f9;
    margin-bottom: 100px;
}

.gallery-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 200px;
    margin-top: 20px;
}

.gallery-item {
    background-color: #ccc;
    width: 200px;
    height: auto;
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-content: center;
}

.gallery-item img {
    width: 300px;
    height: auto;
}
footer {
    background-color: #dcdcdc;
    padding: 20px;
    text-align: center;
}

.social img {
    padding-top: 15px;
    width: 80px;
    height: auto;
}

