
h1{
    color: black;
}
nav  {
    background-color: steelblue;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav a {
    color: white;
    display: block;
    margin-left: 10px;
    margin-top: 5px;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb (0, 0, 0/0.2); /*  */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    width: 200px;
    height: auto;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
}
p {padding: 0;}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}